// Fonts
//@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic");

// Variables
@import "font-mixins";
@import "variables";

@include font-face(GothamPro, fonts/GothaProLig, 100, null, otf);
@include font-face(GothamPro, fonts/GothaProReg, normal, null, otf);
@include font-face(GothamPro, fonts/GothaProMed, 500, null, otf);
@include font-face(GothamPro, fonts/GothaProBol, 800, null, otf);
@include font-face(GothamPro, fonts/GothaProBla, 900, null, otf);

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/sizing";

body {
  background: $body-bg;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 15px;
  color: #181818;
}

.big-h1 {
  font-family: 'GothamPro';
  font-weight: 900;
  font-size: 40px;
  line-height: 0.8;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 26px;
  cursor: pointer;
}

.checkbox__text a {
  color: #dcb829;
}
.checkbox__text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #e5ebf0;
  transition: .2s;
  width: 17px;
  height: 17px;
  border-radius: 2px;
}

.checkbox input:checked + .checkbox__text:before {
  background: #f7d23e;
}
.checkbox input:checked + .checkbox__text:after {
  content: '\2714';
  display: inline-block;
  position: absolute;
  left: 3px;
  top: -2px;
  font-size: 21px;
  line-height: 0.8;
}

input, button {
  font-family: 'Roboto', Arial;
}

button, a.button {
  display: inline-block;
  background: #f7d23e;
  border: 2px solid #f7d23e;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  height: 45px;
  cursor: pointer;
  padding: 0 30px;
  color: #181818;
  text-align: center;
}

button:disabled {
  opacity: 0.5;
}

button.no-bg, a.button.no-bg {
  background: transparent;
}

a.button {
  line-height: 43px;
  text-decoration: none;
}

input[type=text], input[type=password] {
  font-size: 15px;
  font-weight: 300;
  background: #edf3f6;
  padding: 0 25px;
  height: 35px;
  border: 0;
  outline: 0;
  border-radius: 7px;
}

.question {

  margin: -89px 0 0 0;

  .question-form {
    background: #f7d23e;
    border-radius: 15px;
    padding: 40px 40px 40px 45px;

    b {
      font-size: 19px;
      font-family: 'GothamPro';
      display: block;
      margin: 13px 0 0 0;
    }

    input {
      width: 180px;
      height: 45px;
      background: #e6c338;
      margin-right: 15px;
    }

    button {
      border-radius: 7px;
      background: #fff;
      color: #181818;
      min-width: 180px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      border-color: #fff;
    }

  }



}

.md-br {
  display: block;
}

@import "parts/header";
@import "parts/nav";
@import "parts/advantages";
@import "parts/main";
@import "parts/slider";
@import "parts/delivery-payment";
@import "parts/tariffs";
@import "parts/footer";
@import "parts/info-blocks";
@import "parts/cart";

form.profile-login__form {
  padding: 30px 30px;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 34px auto;
  width: 300px;
}

form.profile-login__form input {
  width: 100%;
  height: 45px;
  margin: 0 0 10px;
  padding: 0 15px;
}

@include media-breakpoint-between(lg, xl) {
  .header-city {
    padding: 0 0 0 30px;
  }
}

@include media-breakpoint-between(sm, xl) {
  nav li.has-dropdown {
    position: relative;
  }

  nav ul.dropdown {
    position: absolute;
    background: #282930;
    list-style: none;
    z-index: 10;
    min-width: 100%;
    padding: 5px 0;
  }

  nav ul.dropdown > li > a {
    padding: 6px 20px;
    display: block;
    font-size: 15px;
    white-space: nowrap;
  }



  nav ul.dropdown > li > a:hover {
    text-decoration: underline;
  }
}

@include media-breakpoint-between(lg, xl) {

  nav li.has-dropdown:hover .dropdown {
    display: block!important;
  }

}

@include media-breakpoint-between(xs, md) {

  nav li.has-dropdown .dropdown.opened {
    display: block!important;
  }


}

@include media-breakpoint-between(xs, lg) {

  main .main-content .offers-items table thead {
    display: none;
  }

  main .main-content .offers-items table tbody tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f0f0;
    margin: 0 0 20px 0;
    padding: 0 0 20px 40px;
  }

  main .main-content .offers-items .offers-item__operator {margin-left: -40px;}

  main .main-content .offers-items .offers-item__number {
    width: 100%;
  }

  main .main-content .offers-items tbody td.offers-item__price {
    width: 33.33%;
    text-align: left!important;
  }

  .main-content td.offers-item__buy {
    text-align: left!important;
    width: 100%;
  }

  main .main-content .offers-items tbody td {
    border-bottom: 0;
    padding: 5px 0;
  }
}



@include media-breakpoint-only(sm) {

  .container, html, body {
    width: 767px;
  }



}

@include media-breakpoint-only(lg) {
  .big-h1 {
    font-size: 30px;
  }
}

@include media-breakpoint-only(xs) {
  .big-h1 {
    font-size: 25px;
  }

  main .main-content .offers-items tbody td.offers-item__price {
    width: 100%;
  }
}

.mobile-info {
  border-top: 1px solid #2a2b31;
  padding: 20px 0;
  color: #fff;
  font-size: 14px;
}

.mobile-info > b {
  font-size: 22px;
}

.offers-item__price__rental {
  height: 17px;
  background: #f7d23e;
  width: 17px;
  display: inline-block;
  line-height: 17px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 0 0 5px;
  cursor: pointer;
  text-align: center;
}

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}