.cart-main {
  width: 100%;
}

.cart-order {
  width: 100%;
  margin: 30px 0 0;
}

@include media-breakpoint-only(lg) {
  .cart-main {
    padding-right: 30px;
  }

  .cart-order {
    margin: 0;
  }
}

@include media-breakpoint-only(xl) {
  .cart-main {
    width: 670px;
  }

  .cart-order {
    width: 470px;
    margin: 0;
  }
}


.cart-main__box, .cart-order__box{
  padding: 36px 31px;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 34px 0 0 0;
}

.order-form__input.first {
  margin-bottom: 15px;
}

.order-form__input {
  width:100%;
}

@include media-breakpoint-only(xl) {
  .order-form__input.first {
    margin-right: 15px;
  }
}

.cart {
  &-items {
    &__item {
      margin-bottom: 20px;
      border-bottom: 1px solid #edf3f6;
      padding-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }

      &-number, &-tariff-name {
        font-family: 'GothamPro', 'Roboto', 'Arial';
        font-weight: bold;
      }

      &-old-price {
        > span {
          position: relative;

          &:before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 3px;
            position: absolute;
            background: #f7d23e;
            left: 0;
            top: 9px;
          }

        }
      }

      &-tariff {
        margin-top: 10px;
        &-name {
          width: 264px;
        }
      }

      &-col {
        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }
      }

      &-number-params, &-tariff-params {
        margin-top: 16px;
      }

      &-col.flex-grow-1 &-number-params,
      &-col.flex-grow-1 &-tariff-params {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }

    & &__another-tariff {
      line-height: 20px;
      font-size: 12px;
      height: auto;
      padding: 0 6px;
    }
  }
}

