.filter-block {
  & &__buttons {
    &-lucky {
      float: right;
      &:hover {
        text-decoration: underline;
      }

      @include media-breakpoint-only(xs) {
        float: none;
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}