header {

  .header-logo > b {
    font-family: 'GothamPro';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
  }

  .header-logo {
    margin: 27px 0 25px 0;
    line-height: 1.2;
    position: relative;
    width: 220px;
    
    &:before {
      content: '';
      background: url("/images/sprite.png");
      display: inline-block;
      width: 60px;
      height: 60px;
      position: absolute;
      z-index: -1;
      top: -9px;
      left: 0;
    }
    
  }

  .header-logo > span {
    font-size: 15px;
    font-weight: 300;
    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }
  }

  .header-city > a {
    background: #fff;
    font-size: 19px;
    font-weight: 600;
    padding: 10px 37px;
    margin: 27px 0 0px 39px;
    border-radius: 50px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    @include non-default-link();

    &:after {
      content: '';
      width: 13px;
      height: 8px;
      background: url("/images/sprite.png");
      display: inline-block;
      background-position: -60px 0px;
      margin-left: 15px;
    }

  }

  .header-phone {
    font-size: 20px;
    font-family: 'GothamPro';
    font-weight: 800;

    a {
      @include non-default-link();
    }

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }

    &__label {
      margin-right: 10px;
      @include media-breakpoint-down(lg) {
        display: block;
        margin-right: 0;
        width: 100%;
      }
    }

  }

  .header-divider > span {
    width: 2px;
    height: 60px;
    background: #e7f1f3;
    display: inline-block;
    margin: 0 30px;
  }

  .header-lk > a {
    font-size: 19px;
    font-weight: 600;
    position: relative;
    padding: 0 0 0 56px;
    @include non-default-link();

    &:before {
      content: '';
      background: url("/images/sprite.png");
      display: inline-block;
      width: 46px;
      height: 46px;
      background-position: -73px 0px;
      position: absolute;
      left: 0;
      top: -12px;
    }
    
  }

  .header-mobile-menu {
    
    > a {
      background: url("/images/sprite.png");
      display: inline-block;
      width: 35px;
      height: 35px;
      text-indent: 150px;
      position: relative;
      margin-left: 15px;
      font-size: 0;

      &.header-mobile__basket {
        background-position: -181px -30px;

        > span {
          background: url("/images/sprite.png");
          display: inline-block;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 0;
          top: -3px;
          background-position: 0 -135px;
          line-height: 20px;
          color: #000;
          font-size: 10px;
          text-align: center;
          text-indent: 0;
          font-weight: bold;
        }

      }

      &.header-mobile__profile {
        background-position: -181px -65px;
      }

      &.header-mobile__menu {
        background-position: -181px -100px;
      }

    }
    
  }
  
}

@include media-breakpoint-only(lg) {
  header {
    .header-city > a {
      font-size: 17px;
      padding: 10px 27px;

    }
  }
}

@include media-breakpoint-between(sm, md) {

  header .header-logo {
    width: 170px;
  }

  header .header-city > a {
    font-size: 19px;
    padding: 10px 21px;
    margin: 37px 0 0px 0;
  }

  header .header-divider > span {
    margin: 0 20px;
  }

  header .header-lk > a:before {
    top: -22px;
  }

}

@include media-breakpoint-only(xs) {

  header .header-logo {
    width: 150px;
    margin: 14px 0 6px 0;
  }

  header .header-logo > span {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
  }

  header .header-logo:before {
    width: 44px;
    height: 44px;
    background-size: 166px;
    top: -3px;
  }

  header .header-logo > b {
    font-size: 16px;
  }

}
